<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <button onclick="buttonClick()">Proceed</button>
    <!-- <button onclick="clearClick()">Clear</button> -->
    <table id="outputData" class="">
        <thead>
            <tr>
                <th>
                    <strong>NDC No</strong>
                </th>
                <th>
                    <strong>Label name</strong>
                </th>
                <th>
                    <strong>Price date (start)</strong>
                </th>
                <th>
                    <strong>Number of units</strong>
                </th>
                <th>
                    <strong>Unit price</strong>
                </th>
                <th>
                    <strong>Product</strong>
                </th>
                <th>
                    <strong>Total of Ingredients</strong>
                </th>
                <th>
                    <strong> Medi-Cal Dispensing Fee </strong>
                </th>
                <th>
                    <strong> Subtotal </strong>
                </th>
                <th>
                    <strong> Comparison </strong>
                </th>
                <th>
                    <strong> Final Price  </strong>
                </th>
                <th>
                    <strong>  </strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% newArrayForRender.forEach(function(value) { %>
                    <th><%= value %></th>
                <% }); %>
            </tr>
        </tbody>
    </table>
    
    <script>
        
        
        function buttonClick() {
            //document.getElementById('outputData').classList.remove('hidden');
            window.location.reload();
        }
        
        function clearClick() {
            document.getElementById('outputData').classList.add('hidden');
        }
        
    </script>
</body>


    
</html>